In [1]:
# importing our libraries
import pandas as pd
import numpy as np

## Data Cleaning

In [2]:
# load our mvp csv file
mvp = pd.read_csv('data/mvps.csv')
mvp.head()

,Unnamed: 0,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,year
0,0,1,Michael Jordan,27,CHI,77.0,891.0,960,0.928,82,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,1,2,Magic Johnson,31,LAL,10.0,497.0,960,0.518,79,...,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,2,3,David Robinson,25,SAS,6.0,476.0,960,0.496,82,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,3,4,Charles Barkley,27,PHI,2.0,222.0,960,0.231,67,...,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,4,5,Karl Malone,27,UTA,0.0,142.0,960,0.148,82,...,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991

We are going to be dropping a few columns, some of which are already in the players.csv file and the other "Unnamed" which is unnecessary.

In [3]:
# changing our column headers to lower case
mvp.columns = [x.lower() for x in mvp.columns]
mvp.sample()

,unnamed: 0,rank,player,age,tm,first,pts won,pts max,share,g,...,trb,ast,stl,blk,fg%,3p%,ft%,ws,ws/48,year
26,6,7,Mark Price,27,CLE,0.0,66.0,960,0.069,72,...,2.4,7.4,1.3,0.2,0.488,0.387,0.947,9.1,0.205,1992

In [4]:
# dropping some columns
mvp = mvp[['player','year','pts won','pts max','share']]
mvp.head()

            player  year  pts won  pts max  share
0   Michael Jordan  1991    891.0      960  0.928
1    Magic Johnson  1991    497.0      960  0.518
2   David Robinson  1991    476.0      960  0.496
3  Charles Barkley  1991    222.0      960  0.231
4      Karl Malone  1991    142.0      960  0.148

In [5]:
# load the players data
players = pd.read_csv('data/player_stats.csv')
players.head()

,Unnamed: 0,rk,player,pos,age,tm,g,gs,mp,fg,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,year
0,0,1,Alaa Abdelnaby,PF,22,POR,43,0,6.7,1.3,...,0.6,1.4,2.1,0.3,0.1,0.3,0.5,0.9,3.1,1991
1,1,2,Mahmoud Abdul-Rauf,PG,21,DEN,67,19,22.5,6.2,...,0.5,1.3,1.8,3.1,0.8,0.1,1.6,2.2,14.1,1991
2,2,3,Mark Acres,C,28,ORL,68,0,19.3,1.6,...,2.1,3.2,5.3,0.4,0.4,0.4,0.6,3.2,4.2,1991
3,3,4,Michael Adams,PG,28,DEN,66,66,35.5,8.5,...,0.9,3.0,3.9,10.5,2.2,0.1,3.6,2.5,26.5,1991
4,4,5,Mark Aguirre,SF,31,DET,78,13,25.7,5.4,...,1.7,3.1,4.8,1.8,0.6,0.3,1.6,2.7,14.2,1991

In [6]:
# dropping unnecessary columns
drop = ['Unnamed: 0', 'rk']
players.drop(drop,axis=1,inplace=True)
players.head()

,player,pos,age,tm,g,gs,mp,fg,fga,fg%,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,year
0,Alaa Abdelnaby,PF,22,POR,43,0,6.7,1.3,2.7,.474,...,0.6,1.4,2.1,0.3,0.1,0.3,0.5,0.9,3.1,1991
1,Mahmoud Abdul-Rauf,PG,21,DEN,67,19,22.5,6.2,15.1,.413,...,0.5,1.3,1.8,3.1,0.8,0.1,1.6,2.2,14.1,1991
2,Mark Acres,C,28,ORL,68,0,19.3,1.6,3.1,.509,...,2.1,3.2,5.3,0.4,0.4,0.4,0.6,3.2,4.2,1991
3,Michael Adams,PG,28,DEN,66,66,35.5,8.5,21.5,.394,...,0.9,3.0,3.9,10.5,2.2,0.1,3.6,2.5,26.5,1991
4,Mark Aguirre,SF,31,DET,78,13,25.7,5.4,11.7,.462,...,1.7,3.1,4.8,1.8,0.6,0.3,1.6,2.7,14.2,1991

In [7]:
# some player names have "*" in their name
players['player'].head(50)

0         Alaa Abdelnaby
1     Mahmoud Abdul-Rauf
2             Mark Acres
3          Michael Adams
4           Mark Aguirre
5            Danny Ainge
6            Mark Alarie
7           Steve Alford
8          Greg Anderson
9          Greg Anderson
10         Greg Anderson
11         Greg Anderson
12         Nick Anderson
13          Ron Anderson
14       Willie Anderson
15        Michael Ansley
16        B.J. Armstrong
17         Vincent Askew
18          Keith Askins
19           Miloš Babić
20          Thurl Bailey
21           Cedric Ball
22         Ken Bannister
23      Charles Barkley*
24           Dana Barros
25           John Battle
26          Kenny Battle
27          Kenny Battle
28          Kenny Battle
29       William Bedford
30       Benoit Benjamin
31       Benoit Benjamin
32       Benoit Benjamin
33       Winston Bennett
34           Larry Bird*
35      Rolando Blackman
36          Lance Blanks
37       Mookie Blaylock
38         Muggsy Bogues
39            Manute Bol
40        Anthony Bonner
41             Sam Bowie
42          Randy Breuer
43      Frank Brickowski
44          Scott Brooks
45          Chucky Brown
46             Dee Brown
47                Player
48            Mike Brown
49            Tony Brown
Name: player, dtype: object

In [8]:
# removing the "*" from player names
players['player'] = players.player.str.replace('*','',regex=False)

In [9]:
players.groupby(['player','year']).get_group(('Greg Anderson',1991))

,player,pos,age,tm,g,gs,mp,fg,fga,fg%,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,year
8,Greg Anderson,PF,26,TOT,68,2,13.6,1.7,4.0,.430,...,1.4,3.3,4.7,0.2,0.5,0.7,1.2,2.1,4.3,1991
9,Greg Anderson,PF,26,MIL,26,0,9.5,1.0,2.8,.370,...,1.0,1.9,2.9,0.1,0.3,0.3,0.8,1.1,2.7,1991
10,Greg Anderson,PF,26,NJN,1,0,18.0,4.0,4.0,1.000,...,4.0,2.0,6.0,1.0,2.0,0.0,1.0,4.0,8.0,1991
11,Greg Anderson,PF,26,DEN,41,2,16.1,2.1,4.7,.440,...,1.6,4.1,5.8,0.3,0.6,0.9,1.5,2.6,5.2,1991

In [10]:
# write a function to put a player that played for multiple teams in a year in a single row
def single_row(df):
    if df.shape[0] == 1:
        return df
    else:
        row = df[df['tm']=='TOT']
        row['tm'] = df.iloc[-1,:]['tm']
        return row
players = players.groupby(['player','year']).apply(single_row)

NumExpr defaulting to 8 threads.

In [11]:
# view our dataframe
players

                                  player pos age   tm   g  gs    mp   fg  \
player         year
A.C. Green     1991 164       A.C. Green  PF  27  LAL  82  21  26.4  3.1
               1992 633       A.C. Green  PF  28  LAL  82  53  35.4  4.7
               1993 1092      A.C. Green  PF  29  LAL  82  55  34.4  4.6
               1994 1579      A.C. Green  PF  30  PHO  82  55  34.5  5.7
               1995 2067      A.C. Green  SF  31  PHO  82  52  32.8  3.8
...                                  ...  ..  ..  ...  ..  ..   ...  ...
Željko Rebrača 2002 6095  Željko Rebrača   C  29  DET  74   4  15.9  2.6
               2003 6595  Željko Rebrača   C  30  DET  30  12  16.3  2.7
               2004 7176  Željko Rebrača   C  31  ATL  24   2  11.4  1.4
               2005 7776  Željko Rebrača   C  32  LAC  58   2  16.0  2.3
               2006 8370  Željko Rebrača   C  33  LAC  29   2  14.2  1.8

                           fga   fg%  ...  orb  drb  trb  ast  stl  blk  tov  \
player         year                   ...
A.C. Green     1991 164    6.6  .476  ...  2.5  3.8  6.3  0.9  0.7  0.3  1.2
               1992 633    9.8  .476  ...  3.7  5.6  9.3  1.4  1.1  0.4  1.4
               1993 1092   8.6  .537  ...  3.5  5.2  8.7  1.4  1.1  0.5  1.4
               1994 1579  11.3  .502  ...  3.4  5.8  9.2  1.7  0.9  0.5  1.2
               1995 2067   7.5  .504  ...  2.4  5.8  8.2  1.5  0.7  0.4  1.4
...                        ...   ...  ...  ...  ...  ...  ...  ...  ...  ...
Željko Rebrača 2002 6095   5.1  .505  ...  1.1  2.8  3.9  0.5  0.4  1.0  1.1
               2003 6595   4.8  .552  ...  0.9  2.2  3.1  0.3  0.2  0.6  1.0
               2004 7176   3.2  .442  ...  1.0  1.5  2.4  0.3  0.2  0.5  0.7
               2005 7776   4.0  .568  ...  0.8  2.3  3.2  0.4  0.2  0.7  0.8
               2006 8370   3.3  .542  ...  0.4  1.8  2.2  0.3  0.2  0.7  0.8

                           pf   pts  year
player         year
A.C. Green     1991 164   1.4   9.1  1991
               1992 633   1.7  13.6  1992
               1993 1092  1.8  12.8  1993
               1994 1579  1.7  14.7  1994
               1995 2067  1.8  11.2  1995
...                       ...   ...   ...
Željko Rebrača 2002 6095  2.6   6.9  2002
               2003 6595  2.6   6.6  2003
               2004 7176  2.2   3.8  2004
               2005 7776  2.2   5.8  2005
               2006 8370  2.0   4.7  2006

[14697 rows x 30 columns]

In [12]:
# drop two index levels from our dataframe
players.index = players.index.droplevel()
players.index = players.index.droplevel()

In [13]:
players.head()

,player,pos,age,tm,g,gs,mp,fg,fga,fg%,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,year
164,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,.476,...,2.5,3.8,6.3,0.9,0.7,0.3,1.2,1.4,9.1,1991
633,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,.476,...,3.7,5.6,9.3,1.4,1.1,0.4,1.4,1.7,13.6,1992
1092,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,.537,...,3.5,5.2,8.7,1.4,1.1,0.5,1.4,1.8,12.8,1993
1579,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,.502,...,3.4,5.8,9.2,1.7,0.9,0.5,1.2,1.7,14.7,1994
2067,A.C. Green,SF,31,PHO,82,52,32.8,3.8,7.5,.504,...,2.4,5.8,8.2,1.5,0.7,0.4,1.4,1.8,11.2,1995

In [14]:
# merge the players data with the mvp data
combined = players.merge(mvp,how='left',on=['player','year'])
combined.head()

,player,pos,age,tm,g,gs,mp,fg,fga,fg%,...,ast,stl,blk,tov,pf,pts,year,pts won,pts max,share
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,.476,...,0.9,0.7,0.3,1.2,1.4,9.1,1991,NaN,NaN,NaN
1,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,.476,...,1.4,1.1,0.4,1.4,1.7,13.6,1992,NaN,NaN,NaN
2,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,.537,...,1.4,1.1,0.5,1.4,1.8,12.8,1993,NaN,NaN,NaN
3,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,.502,...,1.7,0.9,0.5,1.2,1.7,14.7,1994,NaN,NaN,NaN
4,A.C. Green,SF,31,PHO,82,52,32.8,3.8,7.5,.504,...,1.5,0.7,0.4,1.4,1.8,11.2,1995,NaN,NaN,NaN

In [15]:
combined[combined['pts won'] > 0]

,player,pos,age,tm,g,gs,mp,fg,fga,fg%,...,ast,stl,blk,tov,pf,pts,year,pts won,pts max,share
197,Al Jefferson,C,29,CHA,73,73,35.0,9.6,18.8,.509,...,2.1,0.9,1.1,1.7,2.4,21.8,2014,34.0,1250.0,0.027
346,Allen Iverson,PG,21,PHI,76,74,40.1,8.2,19.8,.416,...,7.5,2.1,0.3,4.4,3.1,23.5,1997,1.0,1150.0,0.001
348,Allen Iverson,SG,23,PHI,48,48,41.5,9.1,22.0,.412,...,4.6,2.3,0.1,3.5,2.0,26.8,1999,319.0,1180.0,0.270
349,Allen Iverson,SG,24,PHI,70,70,40.8,10.4,24.8,.421,...,4.7,2.1,0.1,3.3,2.3,28.4,2000,132.0,1210.0,0.109
350,Allen Iverson,SG,25,PHI,71,71,42.0,10.7,25.5,.420,...,4.6,2.5,0.3,3.3,2.1,31.1,2001,1121.0,1240.0,0.904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14170,Vince Carter,SF,23,TOR,82,82,38.1,9.6,20.7,.465,...,3.9,1.3,1.1,2.2,3.2,25.7,2000,51.0,1210.0,0.042
14171,Vince Carter,SF,24,TOR,75,75,39.7,10.2,22.1,.460,...,3.9,1.5,1.1,2.2,2.7,27.6,2001,7.0,1240.0,0.006
14175,Vince Carter,SF-SG,28,NJN,77,76,36.7,9.0,20.0,.452,...,4.2,1.4,0.6,2.2,3.2,24.5,2005,3.0,1270.0,0.002
14549,Yao Ming,C,23,HOU,82,82,32.8,6.5,12.5,.522,...,1.5,0.3,1.9,2.5,3.3,17.5,2004,1.0,1230.0,0.001
14554,Yao Ming,C,28,HOU,77,77,33.6,7.4,13.4,.548,...,1.8,0.4,1.9,3.0,3.3,19.7,2009,1.0,1210.0,0.001

In [16]:
# fill nan values with 0
combined[['pts won', 'share','pts max']] = combined[['pts won', 'share','pts max']].fillna(0)

In [17]:
combined

,player,pos,age,tm,g,gs,mp,fg,fga,fg%,...,ast,stl,blk,tov,pf,pts,year,pts won,pts max,share
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,.476,...,0.9,0.7,0.3,1.2,1.4,9.1,1991,0.0,0.0,0.0
1,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,.476,...,1.4,1.1,0.4,1.4,1.7,13.6,1992,0.0,0.0,0.0
2,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,.537,...,1.4,1.1,0.5,1.4,1.8,12.8,1993,0.0,0.0,0.0
3,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,.502,...,1.7,0.9,0.5,1.2,1.7,14.7,1994,0.0,0.0,0.0
4,A.C. Green,SF,31,PHO,82,52,32.8,3.8,7.5,.504,...,1.5,0.7,0.4,1.4,1.8,11.2,1995,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14692,Željko Rebrača,C,29,DET,74,4,15.9,2.6,5.1,.505,...,0.5,0.4,1.0,1.1,2.6,6.9,2002,0.0,0.0,0.0
14693,Željko Rebrača,C,30,DET,30,12,16.3,2.7,4.8,.552,...,0.3,0.2,0.6,1.0,2.6,6.6,2003,0.0,0.0,0.0
14694,Željko Rebrača,C,31,ATL,24,2,11.4,1.4,3.2,.442,...,0.3,0.2,0.5,0.7,2.2,3.8,2004,0.0,0.0,0.0
14695,Željko Rebrača,C,32,LAC,58,2,16.0,2.3,4.0,.568,...,0.4,0.2,0.7,0.8,2.2,5.8,2005,0.0,0.0,0.0
14696,Željko Rebrača,C,33,LAC,29,2,14.2,1.8,3.3,.542,...,0.3,0.2,0.7,0.8,2.0,4.7,2006,0.0,0.0,0.0

In [18]:
# importing team data
team = pd.read_csv('data/team_stats.csv')

In [19]:
# view our first 10 rows
team.columns = [col.lower() for col in team.columns]
team.head(10)

,unnamed: 0,team,w,l,w/l%,gb,ps/g,pa/g,srs,year,confrence
0,0,Boston Celtics*,56,26,.683,—,111.5,105.7,5.22,1991,Eastern
1,1,Philadelphia 76ers*,44,38,.537,12.0,105.4,105.6,-0.39,1991,Eastern
2,2,New York Knicks*,39,43,.476,17.0,103.1,103.3,-0.43,1991,Eastern
3,3,Washington Bullets,30,52,.366,26.0,101.4,106.4,-4.84,1991,Eastern
4,4,New Jersey Nets,26,56,.317,30.0,102.9,107.5,-4.53,1991,Eastern
5,5,Miami Heat,24,58,.293,32.0,101.8,107.8,-5.91,1991,Eastern
6,6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,1991,Eastern
7,7,Chicago Bulls*,61,21,.744,—,110.0,101.0,8.57,1991,Eastern
8,8,Detroit Pistons*,50,32,.610,11.0,100.1,96.8,3.08,1991,Eastern
9,9,Milwaukee Bucks*,48,34,.585,13.0,106.4,104.0,2.33,1991,Eastern

In [20]:
# remove all rows with the word "division" in it
team = team[~team['w'].str.contains('Division')]
team.head(10)

,unnamed: 0,team,w,l,w/l%,gb,ps/g,pa/g,srs,year,confrence
0,0,Boston Celtics*,56,26,.683,—,111.5,105.7,5.22,1991,Eastern
1,1,Philadelphia 76ers*,44,38,.537,12.0,105.4,105.6,-0.39,1991,Eastern
2,2,New York Knicks*,39,43,.476,17.0,103.1,103.3,-0.43,1991,Eastern
3,3,Washington Bullets,30,52,.366,26.0,101.4,106.4,-4.84,1991,Eastern
4,4,New Jersey Nets,26,56,.317,30.0,102.9,107.5,-4.53,1991,Eastern
5,5,Miami Heat,24,58,.293,32.0,101.8,107.8,-5.91,1991,Eastern
7,7,Chicago Bulls*,61,21,.744,—,110.0,101.0,8.57,1991,Eastern
8,8,Detroit Pistons*,50,32,.610,11.0,100.1,96.8,3.08,1991,Eastern
9,9,Milwaukee Bucks*,48,34,.585,13.0,106.4,104.0,2.33,1991,Eastern
10,10,Atlanta Hawks*,43,39,.524,18.0,109.8,109.0,0.72,1991,Eastern

In [21]:
# dropping the first columns
del team['unnamed: 0']

team.head()

,team,w,l,w/l%,gb,ps/g,pa/g,srs,year,confrence
0,Boston Celtics*,56,26,.683,—,111.5,105.7,5.22,1991,Eastern
1,Philadelphia 76ers*,44,38,.537,12.0,105.4,105.6,-0.39,1991,Eastern
2,New York Knicks*,39,43,.476,17.0,103.1,103.3,-0.43,1991,Eastern
3,Washington Bullets,30,52,.366,26.0,101.4,106.4,-4.84,1991,Eastern
4,New Jersey Nets,26,56,.317,30.0,102.9,107.5,-4.53,1991,Eastern

In [22]:
# removing "*" from team names
team['team'] =  team['team'].str.replace('*','',regex=False)
team.head()

                 team   w   l  w/l%    gb   ps/g   pa/g    srs  year confrence
0      Boston Celtics  56  26  .683     —  111.5  105.7   5.22  1991   Eastern
1  Philadelphia 76ers  44  38  .537  12.0  105.4  105.6  -0.39  1991   Eastern
2     New York Knicks  39  43  .476  17.0  103.1  103.3  -0.43  1991   Eastern
3  Washington Bullets  30  52  .366  26.0  101.4  106.4  -4.84  1991   Eastern
4     New Jersey Nets  26  56  .317  30.0  102.9  107.5  -4.53  1991   Eastern

In [23]:
# viewing how the team names are stores diffently on the two dataframes
display(team['team'].unique())
display(combined['tm'].unique())

array(['Boston Celtics', 'Philadelphia 76ers', 'New York Knicks',
       'Washington Bullets', 'New Jersey Nets', 'Miami Heat',
       'Chicago Bulls', 'Detroit Pistons', 'Milwaukee Bucks',
       'Atlanta Hawks', 'Indiana Pacers', 'Cleveland Cavaliers',
       'Charlotte Hornets', 'San Antonio Spurs', 'Utah Jazz',
       'Houston Rockets', 'Orlando Magic', 'Minnesota Timberwolves',
       'Dallas Mavericks', 'Denver Nuggets', 'Portland Trail Blazers',
       'Los Angeles Lakers', 'Phoenix Suns', 'Golden State Warriors',
       'Seattle SuperSonics', 'Los Angeles Clippers', 'Sacramento Kings',
       'Toronto Raptors', 'Vancouver Grizzlies', 'Washington Wizards',
       'Memphis Grizzlies', 'New Orleans Hornets', 'Charlotte Bobcats',
       'New Orleans/Oklahoma City Hornets', 'Oklahoma City Thunder',
       'Brooklyn Nets', 'New Orleans Pelicans'], dtype=object)

array(['LAL', 'PHO', 'DAL', 'MIA', 'CLE', 'WSB', 'CHI', 'GSW', 'IND',
       'WAS', 'MIN', 'BOS', 'HOU', 'DEN', 'ORL', 'NOH', 'TOR', 'SAC',
       'CHO', 'PHI', 'POR', 'DET', 'OKC', 'UTA', 'MIL', 'VAN', 'SEA',
       'NJN', 'NOK', 'LAC', 'ATL', 'CHA', 'MEM', 'NYK', 'NOP', 'BRK',
       'SAS', 'CHH'], dtype=object)

In [24]:
nicknames = {}
# read our nicknames.txt file and store in a dictionary
with open('data/nicknames.txt', 'r') as file:
    lines = file.readlines()
    for line in lines[1:]:
        avb, names = line.replace('\n','').split(',')
        nicknames[avb]=names

In [25]:
# use our nicknames dict to create a column with full team names in our conbined dataframe
combined['team'] = combined['tm'].map(nicknames)
combined.head()

,player,pos,age,tm,g,gs,mp,fg,fga,fg%,...,stl,blk,tov,pf,pts,year,pts won,pts max,share,team
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,.476,...,0.7,0.3,1.2,1.4,9.1,1991,0.0,0.0,0.0,Los Angeles Lakers
1,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,.476,...,1.1,0.4,1.4,1.7,13.6,1992,0.0,0.0,0.0,Los Angeles Lakers
2,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,.537,...,1.1,0.5,1.4,1.8,12.8,1993,0.0,0.0,0.0,Los Angeles Lakers
3,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,.502,...,0.9,0.5,1.2,1.7,14.7,1994,0.0,0.0,0.0,Phoenix Suns
4,A.C. Green,SF,31,PHO,82,52,32.8,3.8,7.5,.504,...,0.7,0.4,1.4,1.8,11.2,1995,0.0,0.0,0.0,Phoenix Suns

In [26]:
# merge our combined and team dataframes
stats = combined.merge(team, how='outer', on=['team','year'])
stats.head()

,player,pos,age,tm,g,gs,mp,fg,fga,fg%,...,share,team,w,l,w/l%,gb,ps/g,pa/g,srs,confrence
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,.476,...,0.0,Los Angeles Lakers,58,24,.707,5.0,106.3,99.6,6.73,Western
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,.477,...,0.0,Los Angeles Lakers,58,24,.707,5.0,106.3,99.6,6.73,Western
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,.455,...,0.0,Los Angeles Lakers,58,24,.707,5.0,106.3,99.6,6.73,Western
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,.340,...,0.0,Los Angeles Lakers,58,24,.707,5.0,106.3,99.6,6.73,Western
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,.492,...,0.0,Los Angeles Lakers,58,24,.707,5.0,106.3,99.6,6.73,Western

In [27]:
# convert some columns to numeric datatype
stats = stats.apply(pd.to_numeric,errors='ignore')
stats.dtypes

player        object
pos           object
age            int64
tm            object
g              int64
gs             int64
mp           float64
fg           float64
fga          float64
fg%          float64
3p           float64
3pa          float64
3p%          float64
2p           float64
2pa          float64
2p%          float64
efg%         float64
ft           float64
fta          float64
ft%          float64
orb          float64
drb          float64
trb          float64
ast          float64
stl          float64
blk          float64
tov          float64
pf           float64
pts          float64
year           int64
pts won      float64
pts max      float64
share        float64
team          object
w              int64
l              int64
w/l%         float64
gb            object
ps/g         float64
pa/g         float64
srs          float64
confrence     object
dtype: object

We couldn't convert column gb to numberic even though we know it contains number. Let's investigate.

In [28]:
# view all the elements in gb
stats.gb.unique()

array(['5.0', '14.0', '23.0', '7.0', '—', '40.0', '42.0', '18.0', '6.0',
       '24.0', '26.0', '37.0', '29.0', '21.0', '28.0', '25.0', '8.0',
       '19.0', '1.0', '13.0', '17.0', '3.0', '15.0', '9.0', '2.0', '35.0',
       '20.0', '11.0', '16.0', '41.0', '12.0', '50.0', '10.0', '30.0',
       '34.0', '4.0', '1.5', '22.0', '51.0', '36.0', '43.0', '39.0',
       '18.5', '31.0', '48.0', '46.0', '10.5', '32.0', '38.0', '27.0',
       '33.0', '21.5', '45.0', '22.5', '25.5', '3.5', '20.5', '11.5',
       '44.0', '52.0', '56.0', '2.5', '12.5', '47.0', '32.5', '4.5'],
      dtype=object)

In [29]:
# replace the "-" in the GB column with 0 then convert datatype to numeric
stats['gb'] = stats['gb'].replace({'—':0})
stats['gb'] = stats['gb'].astype('float')

In [30]:
# search for missing values
stats.isnull().sum()

player          0
pos             0
age             0
tm              0
g               0
gs              0
mp              0
fg              0
fga             0
fg%            59
3p              0
3pa             0
3p%          2086
2p              0
2pa             0
2p%           100
efg%           59
ft              0
fta             0
ft%           521
orb             0
drb             0
trb             0
ast             0
stl             0
blk             0
tov             0
pf              0
pts             0
year            0
pts won         0
pts max         0
share           0
team            0
w               0
l               0
w/l%            0
gb              0
ps/g            0
pa/g            0
srs             0
confrence       0
dtype: int64

In [31]:
# viewing rows with null in 3p% and ft%
display(stats[stats['3p%'].isnull()][['player','3p','3pa']])
display(stats[stats['ft%'].isnull()][['player','ft','fta']])

                 player   3p  3pa
2        Elden Campbell  0.0  0.0
3         Irving Thomas  0.0  0.0
18           Jack Haley  0.0  0.0
20          Keith Owens  0.0  0.0
30      Benoit Benjamin  0.0  0.0
...                 ...  ...  ...
14666    Evan Eschmeyer  0.0  0.0
14667  Gheorghe Mureșan  0.0  0.0
14669     Jim McIlvaine  0.0  0.0
14675  Mark Hendrickson  0.0  0.0
14676      Michael Cage  0.0  0.0

[2086 rows x 3 columns]

                player   ft  fta
77          John Coker  0.0  0.0
92        Jason Sasser  0.0  0.0
103    Adrian Caldwell  0.0  0.0
119       Bruno Šundov  0.0  0.0
158     Jamal Robinson  0.0  0.0
...                ...  ...  ...
14556    Mark McNamara  0.0  0.0
14584      Luke Zeller  0.0  0.0
14637      Myron Brown  0.0  0.0
14659      Malcolm Lee  0.0  0.0
14693      Steve Novak  0.0  0.0

[521 rows x 3 columns]

We can see players with null values in ft% and 3p% did not attempt 3p and ft that season.
We will be replacing these null values in our dataset with zero.

In [32]:
# replace missing values with zero
stats = stats.fillna(0)
stats.isnull().any()

player       False
pos          False
age          False
tm           False
g            False
gs           False
mp           False
fg           False
fga          False
fg%          False
3p           False
3pa          False
3p%          False
2p           False
2pa          False
2p%          False
efg%         False
ft           False
fta          False
ft%          False
orb          False
drb          False
trb          False
ast          False
stl          False
blk          False
tov          False
pf           False
pts          False
year         False
pts won      False
pts max      False
share        False
team         False
w            False
l            False
w/l%         False
gb           False
ps/g         False
pa/g         False
srs          False
confrence    False
dtype: bool

## Train and Evaluate a Machine Learning Model

We will create a baseline model with predictors and our label "share"

In [33]:
from sklearn.linear_model import Ridge

In [34]:
stats.columns

Index(['player', 'pos', 'age', 'tm', 'g', 'gs', 'mp', 'fg', 'fga', 'fg%', '3p',
       '3pa', '3p%', '2p', '2pa', '2p%', 'efg%', 'ft', 'fta', 'ft%', 'orb',
       'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'year',
       'pts won', 'pts max', 'share', 'team', 'w', 'l', 'w/l%', 'gb', 'ps/g',
       'pa/g', 'srs', 'confrence'],
      dtype='object')

In [35]:
# store a list of our predictors in a variable
predictors = ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg%', '3p',
               '3pa', '3p%', '2p', '2pa', '2p%', 'efg%', 'ft', 'fta', 'ft%', 'orb',
               'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'year','w', 
              'l', 'w/l%', 'gb', 'ps/g','pa/g', 'srs']

In [36]:
# split our data into train and test
train = stats[stats['year'] < 2021]
test = stats[stats['year'] == 2021]

In [37]:
# instantiate our model and train
ridge = Ridge(alpha=0.1)
ridge.fit(train[predictors],train['share'])

Ridge(alpha=0.1)

In [38]:
# make predictions and test our model
predictions = ridge.predict(test[predictors])

# store our preditions in a pandas dataframe
predictions = pd.DataFrame(predictions,columns=['predictions'],index=test.index)

In [39]:
# compaire with actual values in test
compare = pd.concat([test[['player','share']],predictions],axis=1)
compare

                       player  share  predictions
630              Aaron Gordon    0.0     0.013567
631             Austin Rivers    0.0    -0.013756
632                   Bol Bol    0.0     0.002414
633          Facundo Campazzo    0.0    -0.004421
634          Greg Whittington    0.0     0.010734
...                       ...    ...          ...
14502             Patty Mills    0.0    -0.012571
14503  Quinndary Weatherspoon    0.0    -0.011575
14504                Rudy Gay    0.0     0.016424
14505               Tre Jones    0.0    -0.020434
14506              Trey Lyles    0.0    -0.005421

[540 rows x 3 columns]

In [40]:
compare.sort_values('share',ascending=False)

                      player  share  predictions
641             Nikola Jokić  0.961     0.154306
9018             Joel Embiid  0.580     0.162713
3843           Stephen Curry  0.449     0.142386
10338  Giannis Antetokounmpo  0.345     0.207436
1499              Chris Paul  0.138     0.072293
...                      ...    ...          ...
4383           Chris Chiozza  0.000     0.007047
4382             Bruce Brown  0.000     0.003655
4381           Blake Griffin  0.000     0.011745
4380          Andre Roberson  0.000    -0.026907
14506             Trey Lyles  0.000    -0.005421

[540 rows x 3 columns]

In [41]:
# rank our dataframe to see mvp
compare = compare.sort_values('share',ascending=False)
compare['Rk'] = list(range(1,compare.shape[0]+1))
compare.head(10)

                      player  share  predictions  Rk
641             Nikola Jokić  0.961     0.154306   1
9018             Joel Embiid  0.580     0.162713   2
3843           Stephen Curry  0.449     0.142386   3
10338  Giannis Antetokounmpo  0.345     0.207436   4
1499              Chris Paul  0.138     0.072293   5
11449            Luka Dončić  0.042     0.151430   6
7759          Damian Lillard  0.038     0.116303   7
3707           Julius Randle  0.020     0.088877   8
3702            Derrick Rose  0.010     0.033001   9
11871            Rudy Gobert  0.008     0.095350  10

In [42]:
# rank our prediction
compare = compare.sort_values(by='predictions',ascending=False)
compare['pred_rank'] = list(range(1,compare.shape[0]+1))
compare.head(10)

                      player  share  predictions   Rk  pred_rank
10338  Giannis Antetokounmpo  0.345     0.207436    4          1
9018             Joel Embiid  0.580     0.162713    2          2
641             Nikola Jokić  0.961     0.154306    1          3
11449            Luka Dončić  0.042     0.151430    6          4
3928            LeBron James  0.001     0.147512   15          5
3843           Stephen Curry  0.449     0.142386    3          6
4389            Kevin Durant  0.000     0.141350  531          7
4386            James Harden  0.001     0.140598   13          8
12364        Zion Williamson  0.000     0.127926  251          9
4088       Russell Westbrook  0.005     0.120227   11         10

To evaluate our machine learning model we will be using average precision.

We will write a function that looks at the actual top 5 mvp votes and checks our predction, the fuction will penalize us for not including top five candidates and by how low we predicted them to be.

In [43]:
# defining our error metric function
def find_ap(compare):
    actual = compare.sort_values('share',ascending=False).head(5)
    prediction = compare.sort_values(by='predictions',ascending=False)
    ps = []
    found = 0
    seen = 1
    for index, row in prediction.iterrows():
        if row['player'] in actual['player'].values:
            found += 1
            ps.append(found/seen)
        seen += 1
    return sum(ps) / len(ps)

In [44]:
find_ap(compare)

0.7636363636363636

## Backtesting To Make Predictions for Every Year

In [45]:
# store all our years in a list
years = list(range(1991,2023))

In [46]:
# writing a loops to train with ten years and test for multiple years
aps = []
all_predictions = []
for year in years[10:]:
    train = stats[stats['year']<year]
    test = stats[stats['year']==year]
    ridge.fit(train[predictors],train['share'])
    predictions = ridge.predict(test[predictors])
    predictions = pd.DataFrame(predictions,columns=['predictions'],index=test.index)
    compare = pd.concat([test[['player','share']],predictions],axis=1)
    all_predictions.append(compare)
    aps.append(find_ap(compare))

In [47]:
# view mean average precision
sum(aps) / len(aps)

0.7460653012690024

In [48]:
# defining a function to view differences in actual and predicted rank
def add_ranks(compare):
    compare = compare.sort_values('share',ascending=False)
    compare['Rk'] = list(range(1,compare.shape[0]+1))
    compare = compare.sort_values(by='predictions',ascending=False)
    compare['pred_rank'] = list(range(1,compare.shape[0]+1))
    compare['diff'] = compare['Rk'] - compare['pred_rank']
    return compare

In [49]:
rank = add_ranks(all_predictions[1]).sort_values('diff',ascending=False)
rank[rank['Rk']<=5]

                 player  share  predictions  Rk  pred_rank  diff
12837  Shaquille O'Neal  0.552     0.224195   3          1     2
7150      Tracy McGrady  0.310     0.126168   4          4     0
5396         Tim Duncan  0.757     0.142208   1          2    -1
12829       Kobe Bryant  0.078     0.103769   5          7    -2
1334         Jason Kidd  0.712     0.028210   2         52   -50

In [50]:
# define a function with all our evaluation metrics
def back_testing(stats, model, years, predictors):
    aps = []
    all_predictions = []
    for year in years:
        train = stats[stats['year']<year]
        test = stats[stats['year']==year]
        ridge.fit(train[predictors],train['share'])
        predictions = ridge.predict(test[predictors])
        predictions = pd.DataFrame(predictions,columns=['predictions'],index=test.index)
        compare = pd.concat([test[['player','share']],predictions],axis=1)
        all_predictions.append(compare)
        aps.append(find_ap(compare))
        add_ranks(compare)
    return sum(aps)/len(aps), aps, pd.concat(all_predictions)

In [51]:
# backtest our regression model
mean_ap, ap, predictions = back_testing(stats, ridge, years[5:],predictors)

In [52]:
mean_ap

0.7152712173135063

We will be adding more predictors to try and imporve the performance of our model

In [53]:
# create a column that shows a players ratio to the nba average in a category for a year
stats_ratio = stats[['trb', 'ast', 'stl', 'blk', 'pts', 'year']].groupby('year').apply(lambda x: x/x.mean())
stats_ratio

            trb       ast       stl       blk       pts  year
0      1.706296  0.420714  0.961127  0.673469  1.013334   1.0
1      0.812522  1.028412  1.647646  0.673469  1.614653   1.0
2      0.487513  0.093492  0.274608  1.571429  0.311795   1.0
3      0.325009  0.186984  0.274608  0.000000  0.200440   1.0
4      1.245867  1.636110  1.784950  0.897959  2.383005   1.0
...         ...       ...       ...       ...       ...   ...
14692  0.981705  0.819562  0.479763  1.528302  0.735752   1.0
14693  0.112195  0.000000  0.000000  0.000000  0.071202   1.0
14694  1.598776  0.601012  1.119447  2.547170  1.281633   1.0
14695  0.560974  0.218550  0.319842  1.273585  0.474679   1.0
14696  0.869510  0.655649  1.119447  0.509434  1.008693   1.0

[14697 rows x 6 columns]

In [54]:
# add these ratios to our stats dataframe
stats[['r_trb','r_ast','r_stl','r_blk','r_pts']] = stats_ratio[['trb', 'ast', 'stl', 'blk', 'pts']]
stats.sort_values('share',ascending=False).head()

,player,pos,age,tm,g,gs,mp,fg,fga,fg%,...,gb,ps/g,pa/g,srs,confrence,r_trb,r_ast,r_stl,r_blk,r_pts
5824,Stephen Curry,PG,27,GSW,79,79,34.2,10.2,20.2,0.504,...,0.0,114.9,104.1,10.38,Western,1.491557,3.669121,3.214148,0.481781,3.605063
143,Shaquille O'Neal,C,27,LAL,79,79,40.0,12.1,21.1,0.574,...,0.0,100.8,92.3,8.41,Western,3.730800,2.054433,0.745584,7.012780,3.724909
13579,LeBron James,PF,28,MIA,76,76,37.9,10.1,17.8,0.565,...,0.0,102.9,95.0,7.03,Eastern,2.266165,4.022062,2.642810,2.123800,3.360073
14388,Kevin Garnett,PF,27,MIN,82,82,39.4,9.8,19.6,0.499,...,0.0,94.5,89.1,5.86,Western,3.878906,2.843175,2.241379,5.273319,3.124496
10962,Michael Jordan,SG,32,CHI,82,82,37.7,11.2,22.6,0.495,...,0.0,105.2,92.9,11.80,Eastern,1.856589,2.229977,3.183232,1.163043,3.604710

In [55]:
# adding new features to our predictors then train and test again
predictors += ['r_trb','r_ast','r_stl','r_blk','r_pts']
mean_ap, ap, predictions = back_testing(stats, ridge, years[5:],predictors)

In [56]:
mean_ap

0.7201671232481849

In [57]:
# encoding some categorical variables to add as predictors
stats['Npos'] = stats.pos.astype('category').cat.codes
stats['Ntm'] = stats.tm.astype('category').cat.codes

## Training and Evaluating Using Random Forest Regressor

In [58]:
# import our model
from sklearn.ensemble import RandomForestRegressor

In [59]:
# insantiate our model object
rf = RandomForestRegressor(n_estimators=200,random_state=1,min_samples_split=5)

In [68]:
# train and evaluate
predictors += ['Ntm','Npos']
mean_ap, ap, predictions = back_testing(stats, rf, years[29:],predictors)

In [70]:
mean_ap

0.8734402852049911